@model LoginDTO
@{
    ViewData["Title"] = "Index";
}

@if (TempData["newUserMsg"] != null)
{
<p class="alert alert-success m-3">@TempData["newUserMsg"]</p>
}
<div class="row pb-5">
    <div class="col-md-6">
        <img class="img-fluid" src="~/images/SafeBox.jpg" />
    </div>
    <div class="col-md-6">
        <div class="col-md-8">
            <div style="margin:1rem 0;">
                <span>Sign In</span>
                <span class="float-right">or <a style="color: #0061ff;" href="/Register/Index/">create an account</a></span>
            </div>
            @using (Html.BeginForm("Index", "Login", FormMethod.Post))
            {
                <form action="#" method="post">

                    <div class="form-group">
                        <input onclick="gglaplLogin()" type="button" class="form-control btn-sm" value="Sign in with Google" style="background-color: #0070e0; color:white">
                    </div>
                    <div class="form-group">
                        <input onclick="gglaplLogin()" type="button" class="form-control btn-sm" value="Sign in with Apple" style="background-color: #000; color:white">
                    </div>
                    <p class="text-center mt-3">(Or)</p>


                    <div class="form-group">
                        @Html.TextBoxFor(credentials => credentials.Mail, new { @class = "form-control", @placeholder = "email", @required = "", @type = "email", @id="Mail" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(credentials => credentials.Password, new { @class = "form-control", @type = "password", @placeholder = "password", @required = "" ,@id="Password"})
                    </div>
                    <p style="color:red"> @ViewBag.message </p>
                    <div>
                        <div class="custom-control custom-checkbox mr-sm-2">

                            <input type="checkbox" class="custom-control-input" id="rememberme"  asp-for="@Model.RememberMe">

                            <label class="custom-control-label" for="rememberme">Remember me?</label>
                        </div>

                        <div class="w-50 float-right p-0 m-0 pt-1">
                            <input id="submitlogin" type="submit" class="form-control" value="Log in" style="background: #0070e0; color: white">
                        </div>

                    </div>
                </form>
            }

        </div>
    </div>
</div>

<script>
     function gglaplLogin() {
        Swal.fire({
            title: 'Sory',
            text: 'Google & Apple login areas included just for aesthetic purposes. SafeBox currently does not support login with google or apple. We are sory.',
            icon: 'info',
        })
    }
</script>